@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  max-width: 100%;
  width: 100%; }

body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif; }

.nav-link {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #d2d2d2;
  font-size: 25px; }

.logo10 {
  height: 90px; }

.iconoRedes {
  height: 30px; }

footer {
  width: 100%;
  height: 50px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center; }

footer h2 {
  font-size: 20px; }

.redesSociales {
  display: flex;
  align-items: flex-end center; }

main {
  width: 100%; }

main h2 {
  color: coral;
  margin-bottom: 15px;
  margin-left: 15px; }

main p {
  color: #777777;
  text-align: justify; }

/*------------Contenido Index------------*/
.containerTituloEmoji {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.emoji {
  font-size: 3rem; }

.emoji:hover {
  animation: agitar 0.5s; }

@keyframes agitar {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  90% {
    transform: translate(-1px, 2px) rotate(-1deg); } }

#cuerpoIndex {
  margin-top: 100px;
  margin-left: 75px;
  display: grid;
  grid-template-areas: " queEs img10" " dondeJuega dondeJuega" " imgPerfiles imgPerfiles";
  grid-template-rows: 3fr 1fr auto;
  grid-template-columns: 1fr 1fr auto;
  grid-column-gap: 50px;
  grid-row-gap: 50px; }
  #cuerpoIndex #dondeJuega {
    grid-area: dondeJuega;
    background-color: #0a0a67;
    margin-left: 30px;
    margin-right: 50px; }
  #cuerpoIndex #img10 {
    grid-area: img10;
    display: flex;
    margin-right: 50px; }
  #cuerpoIndex .perfiles {
    width: 90%;
    height: 350px; }
  #cuerpoIndex #imgPerfiles {
    grid-area: imgPerfiles;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px; }
  #cuerpoIndex #imgPerfiles:hover::before {
    transform: scale(50%); }
  #cuerpoIndex .mapa {
    width: 75%;
    height: 800px; }

/*-------------Contenido Pele---------------*/
#cuerpoPele {
  margin-top: 100px;
  margin-left: 75px;
  display: grid;
  grid-template-areas: " titlePele peleCopas" " titlePele peleCopas" " vidaPele vidaPele" " videoPele videoPele" " estadisticasPele estadisticasPele";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px; }
  #cuerpoPele #titlePele {
    grid-area: titlePele;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-color: #210543; }
  #cuerpoPele #peleCopas {
    grid-area: peleCopas;
    justify-content: center;
    align-content: center; }
  #cuerpoPele .imgPele {
    height: 350px; }
  #cuerpoPele #vidaPele {
    grid-area: vidaPele;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-right: 30px; }
  #cuerpoPele #videoPele {
    grid-area: videoPele;
    display: flex;
    justify-content: center;
    align-content: center; }
  #cuerpoPele #estadisticasPele {
    grid-area: estadisticasPele;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 8px; }
  #cuerpoPele table {
    width: 50%;
    background-color: #210543;
    text-align: left;
    color: #b8f532; }

/*--------------Contenido Diego-------------*/
#cuerpoDiego {
  margin-top: 100px;
  margin-left: 75px;
  display: grid;
  grid-template-areas: " titleDiego diegoCopas" " titleDiego diegoCopas" " vidaDiego vidaDiego" " videoDiego videoDiego" " estadisticasDiego estadisticasDiego";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px; }
  #cuerpoDiego #titleDiego {
    grid-area: titleDiego;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-color: #57d8e1; }
  #cuerpoDiego #diegoCopas {
    grid-area: diegoCopas;
    justify-content: center;
    align-content: center; }
  #cuerpoDiego .imgDiego {
    height: 350px; }
  #cuerpoDiego #vidaDiego {
    grid-area: vidaDiego;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-right: 30px; }
  #cuerpoDiego #videoDiego {
    grid-area: videoDiego;
    display: flex;
    justify-content: center;
    align-content: center; }
  #cuerpoDiego #estadisticasDiego {
    grid-area: estadisticasDiego;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 8px; }
  #cuerpoDiego table {
    width: 50%;
    background-color: #57d8e1;
    text-align: left;
    color: #1b1c18; }

/*---------------Contenido Messi---------------*/
#cuerpoMessi {
  margin-top: 100px;
  margin-left: 75px;
  display: grid;
  grid-template-areas: " titleMessi messiCopas" " titleMessi messiCopas" " vidaMessi vidaMessi" " videoMessi videoMessi" " estadisticasMessi estadisticasMessi";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px; }
  #cuerpoMessi #titleMessi {
    grid-area: titleMessi;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-color: #240756; }
  #cuerpoMessi #messiCopas {
    grid-area: messiCopas;
    justify-content: center;
    align-content: center; }
  #cuerpoMessi .imgMessi {
    height: 350px;
    width: 70%; }
  #cuerpoMessi #vidaMessi {
    grid-area: vidaMessi;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-right: 30px; }
  #cuerpoMessi #videoMessi {
    grid-area: videoMessi;
    display: flex;
    justify-content: center;
    align-content: center; }
  #cuerpoMessi #estadisticasMessi {
    grid-area: estadisticasMessi;
    display: flex;
    align-items: left;
    justify-content: left;
    margin-left: 8px;
    flex-direction: column; }
  #cuerpoMessi table {
    width: 50%;
    background-color: #240756;
    text-align: left;
    color: #ef1717; }

/*------------Jugadores retirados------------*/
#cuerpoRetirados {
  margin-top: 100px;
  display: grid;
  grid-template-areas: " comoEran comoEran" " jugRetirados jugRetirados" " jugRetirados jugRetirados";
  grid-template-rows: auto 1fr 1fr;
  grid-template-columns: 1fr auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px; }
  #cuerpoRetirados #comoEran {
    grid-area: comoEran;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-bottom: 10px; }
  #cuerpoRetirados #10antes {
    grid-area: 10antes;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #a5def7; }
  #cuerpoRetirados #jugRetirados {
    grid-area: jugRetirados;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-content: center;
    background-color: #a5def7; }
    #cuerpoRetirados #jugRetirados .zidane {
      position: relative;
      display: inline-block; }
    #cuerpoRetirados #jugRetirados .zidane1 {
      position: absolute;
      top: 10px;
      right: 50%;
      font-size: 22px;
      color: #0e0d0d; }
    #cuerpoRetirados #jugRetirados .zidane2 {
      position: absolute;
      top: 20%;
      left: 50%;
      font-size: 16px;
      text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
      -webkit-text-fill-color: #0f0d0d;
      -webkit-text-stroke: 1px #929191;
      color: transparent; }
    #cuerpoRetirados #jugRetirados .delPieroImg {
      display: flex;
      top: 50%; }
    #cuerpoRetirados #jugRetirados .delPiero {
      position: relative;
      display: inline-block; }
    #cuerpoRetirados #jugRetirados .delPiero1 {
      position: absolute;
      top: 10px;
      right: 40%;
      font-size: 22px;
      color: #0e0d0d; }
    #cuerpoRetirados #jugRetirados .delPiero2 {
      position: absolute;
      top: 20%;
      left: 50%;
      font-size: 16px;
      text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
      -webkit-text-fill-color: #0f0d0d;
      -webkit-text-stroke: 1px #929191;
      color: transparent; }
    #cuerpoRetirados #jugRetirados .zico {
      position: relative;
      display: inline-block;
      display: flex; }
    #cuerpoRetirados #jugRetirados .zico1 {
      position: absolute;
      top: 10px;
      right: 70%;
      font-size: 22px;
      color: #0e0d0d; }
    #cuerpoRetirados #jugRetirados .zico2 {
      position: absolute;
      top: 20%;
      left: 50%;
      font-size: 16px;
      text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
      -webkit-text-fill-color: #0f0d0d;
      -webkit-text-stroke: 1px #929191;
      color: transparent; }
    #cuerpoRetirados #jugRetirados .roman {
      position: relative;
      display: inline-block;
      display: flex; }
    #cuerpoRetirados #jugRetirados .roman1 {
      position: absolute;
      top: 10px;
      right: 30%;
      font-size: 22px;
      color: #0e0d0d; }
    #cuerpoRetirados #jugRetirados .roman2 {
      position: absolute;
      top: 20%;
      left: 50%;
      font-size: 16px;
      text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
      -webkit-text-fill-color: #0f0d0d;
      -webkit-text-stroke: 1px #929191;
      color: transparent; }
    #cuerpoRetirados #jugRetirados .dinho {
      position: relative;
      display: inline-block;
      display: flex; }
    #cuerpoRetirados #jugRetirados .dinho1 {
      position: absolute;
      top: 10px;
      right: 40%;
      font-size: 22px;
      color: #0e0d0d; }
    #cuerpoRetirados #jugRetirados .dinho2 {
      position: absolute;
      top: 20%;
      left: 50%;
      font-size: 16px;
      text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
      -webkit-text-fill-color: #0f0d0d;
      -webkit-text-stroke: 1px #929191;
      color: transparent; }
    #cuerpoRetirados #jugRetirados .baggio {
      position: relative;
      display: inline-block;
      display: flex; }
    #cuerpoRetirados #jugRetirados .baggio1 {
      position: absolute;
      top: 10px;
      right: 50%;
      font-size: 22px;
      color: #0e0d0d; }
    #cuerpoRetirados #jugRetirados .baggio2 {
      position: absolute;
      top: 20%;
      left: 50%;
      font-size: 16px;
      text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
      -webkit-text-fill-color: #0f0d0d;
      -webkit-text-stroke: 1px #929191;
      color: transparent; }

/*------------Contacto-------------*/
.containerContacto {
  width: 30%;
  margin-top: 25px;
  margin-left: 35%;
  border: 20px solid #ff6550;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

/*------------Responsive-------------*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
  #dondeJuega {
    margin-left: 0%; }
  #imgPerfiles {
    flex-direction: column;
    justify-content: flex-end;
    width: 70%; }
  #cuerpoIndex {
    display: grid;
    grid-template-areas: " queEs queEs" " img10 img10" " dondeJuega dondeJuega" " imgPerfiles imgPerfiles" " imgPerfiles imgPerfiles" " imgPerfiles imgPerfiles";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr; }
  #cuerpoPele {
    display: grid;
    grid-template-areas: " titlePele" " peleCopas" " vidaPele" " videoPele" " estadisticasPele";
    grid-template-columns: 300px; }
  .imgPele {
    width: 100%; }
  #cuerpoDiego {
    display: grid;
    grid-template-areas: " titleDiego" " diegoCopas" " vidaDiego" " videoDiego" " estadisticasDiego";
    grid-template-columns: 300px; }
  .imgDiego {
    width: 100%; }
  #cuerpoMessi {
    display: grid;
    grid-template-areas: " titleMessi" " messiCopas" " vidaMessi" " videoMessi" " estadisticasMessi";
    grid-template-columns: 300px; }
  .imgMessi {
    width: 100%; }
  #cuerpoRetirados {
    margin-left: 10%;
    max-width: 90%;
    width: 65%;
    margin-top: 100px;
    display: grid;
    grid-template-areas: " comoEran comoEran" " jugRetirados" " jugRetirados" " jugRetirados" " jugRetirados" " jugRetirados" " jugRetirados"; }
  .containerContacto {
    width: 60%;
    margin-left: 25%; } }
